.col-staffing {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.errors {
  margin: 0 -0.1px;
  padding: 0 2px 0 0;
}

.col-form {
  padding: 5px 0;
  margin: 5px  0;

}
