<div class="container px-5 pt-2">

  <!--#region Add Button-->
  <div class="row justify-content-end mb-2">
    <div class="col-lg-4" style="margin-top:0.5em">
      <pichincha-button
        (click)="onEditRow()"
        class="w-100"
        size="large"
        id="button"
        color="primary">
        <pichincha-icon
          class="mr-2"
          size="20px"
          color="error"
          weight_color="900"
          type="--outlined">
          add
        </pichincha-icon>
        Agregar nueva habilidad
      </pichincha-button>
    </div>

  </div>
  <!--#endregion-->

  <!--#region Table-->
  <ng-container *ngIf=" (data$ | async) as skills; else elseError">

    <app-table [headers]="headers"
               [rows]="skills"
               [allActions]="true"
               keyExpr="id"
               (onEditingStart)="onEditRow($event.rowData)"
               (onDeleteStart)="onDelete($event)"
    ></app-table>

  </ng-container>
  <!--#endregion-->

  <!--#region Else error table-->
  <ng-template #elseError>
    <div class="d-flex align-items-center justify-content-center mt-3">
      <app-error [controlSpiner]="showSpinner">
      </app-error>
    </div>
  </ng-template>
  <!--#endregion-->

</div>


