.container {
  display: flex;
  height: 500px;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  grid-gap: 100px 0;
}

.container app-asignaciones-card {
  width: 400px;
}

@media only screen and (min-width: 650px) and (max-width: 690px){
  .container app-asignaciones-card {
    max-width: 350px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 525px){
  .container app-asignaciones-card {
    max-width: 350px;
  }
}
