thead > tr {
  background-color: rgb(247, 247, 247);
}

thead > tr > th {
  vertical-align: middle;
}

.body-text{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: 'prelo-medium', serif;
}
