<div class="page-full">

  <div>
    <pichincha-brand type="logo"
                     color="blue"
                     width="250"
    ></pichincha-brand>
  </div>

  <pichincha-typography variant="bodyText"
                        class="text-info"
                        color="blue"
                        weight="normal"
                        weight_color="500"
                        align="inherit">
    Ingresa e inicia sesión con tu usuario y contraseña de red habitual.
  </pichincha-typography>

  <pichincha-button size="large"
                    color="primary">
    Ingresar
  </pichincha-button>
</div>
