.card:hover {
  border-color: #ffdd00;
  cursor: pointer;
}

hr {
  border-width: 2px;
  border-color: #a9a9a987;
}

.card {
  border-width: 2px;
  border-color: darkgrey;
}

i {
  font-size: 22px;
}

