<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center" style="gap: 10px">
      <pichincha-icon
        id="icon"
        class="icon"
        size="25px"
        color="error"
        weight_color="900"
        type="&#45;&#45;outlined">
        {{ icon }}
      </pichincha-icon>
      <pichincha-typography
        id="title"
        variant="h5"
        color="black"
        weight="bold"
        weight_color="500"
        align="inherit">
        {{ title }}
      </pichincha-typography>
    </div>
    <hr>
    <pichincha-typography
      id="text"
      variant="bodyText"
      color="grey"
      weight="normal"
      weight_color="500"
      align="inherit">
      {{ text }}
    </pichincha-typography>
  </div>
</div>
